.micro-png1{
    height: 33%;
}

.card-img-top{
    vertical-align: middle;
    height: 50%;
    width: 70%;
}

.card{
    height: 77px;
    width: 77px;
}

.card-body{
height: 77pxpx;
}

.main-list{
    height: 500px;
}


